<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/miguelicious/miguelicious/ios-class-tec/Code/ios-itesm-2016a-22-jan-2016/ios-itesm-2016a-22-jan-2016.xcodeproj</string>
</dict>
</plist>
